# i3blocks config file
#
# Please see man i3blocks for a complete reference!
# The man page is also hosted at http://vivien.github.io/i3blocks
#
# List of valid properties:
#
# align
# color
# command
# full_text
# instance
# interval
# label
# min_width
# name
# separator
# separator_block_width
# short_text
# signal
# urgent

# Global properties
#
# The top properties below are applied to every block, but can be overridden.
# Each block command defaults to the script name to avoid boilerplate.
# Change $SCRIPT_DIR to the location of your scripts!
command=$SCRIPT_DIR/$BLOCK_NAME
separator_block_width=15
markup=none

# Network interface monitoring
#
# If the instance is not specified, use the interface used for default route.
# The address can be forced to IPv4 or IPv6 with -4 or -6 switches.
[iface]
#IFACE=wlan0
color=#00FF00
interval=10
separator=false

[wifi]
command=python /home/test/Documents/i3-scripts/wifi.py
label=Wifi 
interval=1

# CPU usage
#
# The script may be called with -w and -c switches to specify thresholds,
# see the script for details.
[cpu_usage]
label=CPU
interval=10
min_width=CPU 100.00%
#separator=false

[load_average]
label=LOAD
interval=10

# Battery indicator
#
# The battery instance defaults to 0.
[bat]
command=python /home/test/Documents/i3-scripts/battery.py
label=BAT: 
#label=⚡
interval=5

# Date Time
#
[time]
command=date '+%H:%M:%S %d.%m.%Y'
interval=1

# Generic media player support
#
# This displays "ARTIST - SONG" if a music is playing.
# Supported players are: spotify, vlc, audacious, xmms2, mplayer, and others.
#[mediaplayer]
#instance=spotify
#interval=5
#signal=10

